<h4>経歴</h4>

<table class="table small">
  <tr>
    <th>期間</th>
    <th>プロジェクト</th>
    <th>業務・学習内容</th>
    <th>使用・習得スキル</th>
    <th>対応工程</th>
    <th>体制・役割</th>
  </tr>
  <% @jobs.each_with_index do |job, i| %>
    <%= content_tag(:tr, :class => i.even? ? 'even' : 'odd') do %>
      <%= content_tag :td, raw(job[:dates]) %>
      <%= content_tag :td, raw(job[:subject]) %>
      <%= content_tag :td, raw(job[:task]) %>
      <%= content_tag :td, raw(job[:skill]) %>
      <%= content_tag :td, raw(job[:category]) %>
      <%= content_tag :td, raw(job[:team]) %>
    <% end %>
  <% end %>
</table>
