<table class="table">
  <tr>
    <th>ポートフォリオ</th>
    <th>GitHub</th>
  </tr>
  <%= content_tag(:tr) do %>
    <%= content_tag :td, link_to("WEB単語帳", "https://wordscards.herokuapp.com/") %>
    <%= content_tag :td, link_to("flc0.0.0", "https://github.com/kasai441/flc0.0.0") %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag :td, link_to("WEBスキルシート（現在のページ）", "https://skillpr.herokuapp.com/") %>
    <%= content_tag :td, link_to("presentation", "https://github.com/kasai441/presentation") %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag :td, link_to("Wictionaryコマンドライン単語クイズ", "https://www.npmjs.com/package/wordquiz") %>
    <%= content_tag :td, link_to("wordquiz", "https://github.com/kasai441/wordquiz") %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag :td, link_to("フィヨルドブートキャンプ「初めてのLT会」発表スライド「ログをみてできるようになること」", "https://speakerdeck.com/kasai441/roguwomitedekiruyouninarukoto") %>
    <%= content_tag :td %>
  <% end %>
</table>
