<table class="table">
  <tr>
    <th>ポートフォリオ</th>
  </tr>
  <%= content_tag(:tr) do %>
  <%= content_tag :td, link_to("WEB単語帳「Flashcards」", "https://safe-river-31136.herokuapp.com/help") %>
  <% end %>
  <%= content_tag(:tr) do %>
  <%= content_tag :td, link_to("WEBスキルシート", "https://infinite-ravine-88057.herokuapp.com/") %>
  <% end %>
</table>
<table class="table">
  <tr>
    <th>GITHUB</th>
  </tr>
  <%= content_tag(:tr) do %>
  <%= content_tag :td, link_to("kasai441", "https://github.com/kasai441") %>
  <% end %>
</table>
