<h1>学習時間</h1>
<p>Ruby on Rails</p>
<%= high_chart("my_chart0", @chart0) %>
<p>Progate: <%= @subject_times[0] %></p>
<p>Rails Tutorial: <%= @subject_times[1] %></p>
<p>プロを目指す人のためのRuby入門: <%= @subject_times[2] %></p>
<p>自作アプリ「Flashcards」: <%= @subject_times[3] %></p>
